body,
html {
  margin: 0px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #000;
  color: rgb(231, 254, 200);
  margin: 0px;
  padding: 0px;
}

a:hover {
  font-weight: 500;
}

.nav-bar {
  max-width: 1000px;
  padding: 10px 0;
  margin: 0 auto;
}

h4.nav-title {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0 10px;
}

div.nav-bar-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

a.nav-bar-link {
  color: rgb(231, 254, 200);
  text-decoration: none;
  padding: 0 10px;
}

.hero {
  background-image: url(../images/hero2.jpg);
  height: 350px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #fff;
  text-align: center;
  padding: 100px;
  font-size: 80px;
  margin: 0px;
  font-weight: 500;
  font-family: "Barlow Condensed", sans-serif;
}

.row div {
  /* border: 1px solid grey; */
  /* padding: 5px; */
}

div.month-display h5 {
  background-color: rgb(231, 254, 200);
  padding: 10px 5px;
  margin: 5px 12px 25px;
  font-size: 36px;
  /* border: 2px solid rgb(219, 239, 193); */
  font-weight: 300;
  border-radius: 4px;
  font-family: "Barlow Condensed", sans-serif;
}
hr {
  margin: 15px 0px;
  padding: 0;
  border: 1px solid rgb(174, 218, 115);
}
.upcoming {
  /* border: 1px solid grey; */
  max-width: 900px;
  margin: 50px auto;
}

.show-img img {
  border-radius: 4px;
}

div.show-info {
  padding: 10px 20px;
}

.show-info a {
  color: #000;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
}

.show-info a:hover {
  font-weight: 700;
}

.show-info p {
  font-size: 16px;
}
.get-tix {
  display: flex;
  justify-content: right;
}

.get-tix button {
  width: 180px;
  background-color: aquamarine;
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  color: #000;
  font-family: "Barlow Condensed", sans-serif;
  margin-top: 40px;
}

.get-tix button:hover {
  filter: opacity(75%);
  font-weight: 600;
}

.get-tix button a {
  color: #000;
  text-decoration: none;
}

footer {
  background-color: black;
  color: white;
  height: 100%;
}

div.theater-info {
  max-width: 1000px;
  padding: 40px 0;
  margin: 0 auto;
}

div.map {
  padding: 5px 20px;
}

div.info {
  padding: 5px 20px 20px;
}

.info h4 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.info a {
  display: block;
  padding: 10px 0;
}
